:root {
/* text */
--azul-muito-escuro: hsl(238, 29%, 16%);
--vermelho-suave: hsl(14, 88%, 65%);
/* Background gradient */
--violeta-leve: hsl(273, 75%, 66%);
--azul-leve: hsl(240, 73%, 65%);
/* text */
--azul-acizentado: hsl(237, 12%, 33%);
--azul-acizentado-escuro: hsl(240, 6%, 50%);
/* divisores */
--azul-acizentado-claro: hsl(240, 5%, 91%);
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 625px;
    max-width: 1440px;
    font-family: 'Kumbh Sans', sans-serif;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: var(--azul-acizentado-claro);
    width: 55%;
    height: 60%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    
}

.imagem-mulher {
    position: relative;
    float: left;
    top: 25%;
    left: -25%;
    width: 20em;
    height: 18em;
}

.pergunta {
    flex-direction: column;
    float: right;
}

.resposta {
    display: none;
}



.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}