:root {
/* text */
--azul-muito-escuro: hsl(238, 29%, 16%);
--vermelho-suave: hsl(14, 88%, 65%);
/* Background gradient */
--violeta-leve: hsl(273, 75%, 66%);
--azul-leve: hsl(240, 73%, 65%);
/* text */
--azul-acizentado: hsl(237, 12%, 33%);
--azul-acizentado-escuro: hsl(240, 6%, 50%);
/* divisores */
--azul-acizentado-claro: hsl(240, 5%, 91%);
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    width: 100vw;
    font-family: 'Kumbh Sans', sans-serif;   
    display: grid;
    justify-content: center;
    align-content: center;
}

.caixa {
    background: white url(./images/bg-pattern-desktop.svg) no-repeat 1260% 65%;
    border-radius: 50px;
    height: 400px;
    width: 900px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    
}

.imagem-mulher {
    position: relative;
    float: left;
    top: 25%;
    left: -18%;
    width: 28em;
    height: 20em;
}

.imagem-caixa {    
    display: flex;
    align-items: center;
    position: fixed;
    background-position-x: -250px;
    background-position-y: 400px ;
}   

.pergunta {
    flex-direction: column;
    float: right;
}

.resposta {
    display: none;
}



.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}