:root {
/* text */
---azul-muito-escuro: hsl(238, 29%, 16%);
--vermelho-suave: hsl(14, 88%, 65%);
/* Background gradient */
--violete-leve: hsl(273, 75%, 66%);
--azul-leve: hsl(240, 73%, 65%);
/* text */
--azul-acizentado: hsl(237, 12%, 33%);
--azul-acizentado-escuro: hsl(240, 6%, 50%);
/* divisores */
--azul-acizentado-claro: hsl(240, 5%, 91%);
}



.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}